/config
/install

/scripts/__pycache__

*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
xcuserdata/
*.xcscheme/userdata/
*.xcworkspace/xcuserdata/

*.xcodeproj.template/project.xcworkspace/
*.xcodeproj.template/xcuserdata/
*.xcodeproj.template/xcshareddata/

.DS_Store
